
<br/>
<br/>
<br/>
<div  style="top: 30px;">
    <div class="page-header clear-filter" filter-color="orange">
    <div class="container">
      <h3 >Products</h3>    

          <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    <input type="text" value="" placeholder="Regular" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    <input type="text" value="" placeholder="Regular" class="form-control" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    <input type="text" value="" placeholder="Regular" class="form-control" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    <input type="text" value="" placeholder="Regular" class="form-control" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group has-success">
                    <input type="text" value="Success" class="form-control form-control-success" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group has-danger">
                    <input type="email" value="Error Input" class="form-control form-control-danger" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                  <div class="input-group-prepend" >
                    <span class="input-group-text">
                        <i class="fa fa-user-circle"></i>
                    </span>
                  </div>
                    <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                </div>
        </div>
    </div>
</div>
    

    </div>
</div>
