<div class="page-header clear-filter" filter-color="orange">
  <div class="container" style="padding-top: 120px">
    <h2 class="headerString">Products</h2>
    <div class="card" style="background-color: transparent">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <form [formGroup]="newProductForm">
            <ngb-tabset [justify]="'center'" class="text-center">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="now-ui-icons ui-1_simple-add"></i> NEW
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="row" style="padding: 50px; padding-bottom: 0px">
                    <div class="col-sm-6 col-lg-3">
                      <div class="form-group">
                        <input
                          type="text"
                          value=""
                          placeholder="Name"
                          class="form-control"
                          formControlName="productName"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="form-group">
                        <input
                          type="text"
                          value=""
                          placeholder="Stock"
                          class="form-control"
                          formControlName="stock"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                      <div class="form-group">
                        <input
                          type="text"
                          value=""
                          placeholder="Per Unit Price"
                          class="form-control"
                          formControlName="price"
                        />
                      </div>
                    </div>
                    <!-- <div>
                                    <img src="assets/img/placeholder.jpg" alt="Thumbnail Image" class="rounded-circle img-raised" width="100" height="100"> 
                                    <input id="file-input" type="file" name="name" style="display: none;" #photoInput (change)="onFileChanged($event)"/>
                                    <br>
                                    <button class="btn btn-primary btn-round" (click)="photoInput.click()" type="button">
                                        <i class="now-ui-icons media-1_album"></i> Upload Image
                                    </button>                      
                                </div> -->
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-lg-3">
                      <button
                        class="btn btn-success btn-round btn-lg"
                        (click)="open(modal_mini, 'modal_mini', 'sm')"
                        type="button"
                      >
                        Add Product
                      </button>
                    </div>
                    <div class="col-sm-6 col-lg-1">
                      <button
                        class="btn btn-danger btn-round btn-lg"
                        type="button"
                      >
                        Clear
                      </button>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
    
<ng-template #modal_mini let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
    <div class="modal-profile">
      <i class="now-ui-icons ui-1_check"></i>
    </div>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-link btn-neutral"
      (click)="d('No Reason')"
    >
      No
    </button>
    <button
      type="button"
      class="btn btn-link btn-neutral"
      (click)="c('Close click')"
    >
      Confirm
    </button>
  </div>
</ng-template>
